<footer id="footer">
    <div class="container">
        <div class="row text-center">

            <!-- Headquarter -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Headquarter</h2>
                    </div>
                    <address>
                        <p>212 Barrington Court <br>New York, ABC 10001</p>
                    </address>
                    <ul class="social-icon">
                        <li><a href="https://www.facebook.com" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="https://www.x.com" class="fa fa-twitter"></a></li>
                        <li><a href="https://www.instagram.com" class="fa fa-instagram"></a></li>
                    </ul>
                    <div class="copyright-text">
                        <p>Copyright &copy; 2020 Company Name</p>
                    </div>
                </div>
            </div>

            <!-- Contact Info -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Contact Info</h2>
                    </div>
                    <address>
                        <p>+1 333 4040 5566</p>
                        <p><a href="mailto:bartoszkapustka15@gmail.com">bartoszkapustka15@gmail.com</a></p>
                    </address>
                    <div class="footer_menu">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'about-us' %}">About Us</a></li>
                            <li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Newsletter Section (zakomentowane) -->
            <div class="col-md-4 col-sm-12">
                <div class="footer-info newsletter-form">
                    <div class="section-title">
                        <h2>Newsletter Signup</h2>
                    </div>
                    
                    <div>
                        <div class="form-group">
                            <form action="{% url 'newsletter_signup' %}" method="post">
                                {% csrf_token %}
                                <input type="email" class="form-control" placeholder="Enter your email" name="email" required>
                                <input type="submit" class="form-control" value="Send me">
                            </form>
                            <span><sup>*</sup> Please note - we do not spam your email.</span>
                            {% if messages %}
                            <div class="alert alert-success" role="alert">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</footer>
